:root {
  --bg-base: #fff;
  --principal-blue: #131e29;
  --principal-red: #ea0029;
  --principal-gray: rgb(175, 179, 183);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-base);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
